@font-face {
	font-family: "Light";
	src: url("/fonts/Comfortaa-Light.ttf");
  }
@font-face {
	font-family: "Regular";
	src: url("/fonts/Montserrat-Regular.ttf");
  }
  @font-face {
	font-family: "Medium";
	src: url("/fonts/Comfortaa-Medium.ttf");
  }
  
  @font-face {
	font-family: "SemiBold";
	src: url("/fonts/Comfortaa-SemiBold.ttf");
  }
  
  @font-face {
	font-family: "Bold";
	src: url("/fonts/Comfortaa-Bold.ttf");
  }

  @font-face {
	font-family: "MediumMedium";
	src: url("/fonts/Montserrat-Medium.ttf");
  }